<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<%= render 'form', submit_text: "Add"%>

<div id="error_message"></div>

</br>

<table>
  <tbody id="tasks">
    <%= render @tasks %>
  </tbody>
</table>

<br>

